./img_recognition/img/
./img_recognition/img/阿曼达·塞弗里德 ./img_recognition/img/吴京
./data/t10k-images-idx3-ubyte.gz ./data/t10k-labels-idx1-ubyte.gz ./data/train-images-idx3-ubyte.gz ./data/train-labels-idx1-ubyte.gz
